
// Body
$body-bg: #EEE9F0;

// Colors
$primary-color: #266989;
$primary-dark-color: #2669899e;
$success-light-color:  #d4edda;
$info-light-color: #cce5ff;
$warning-light-color: #fff3cd;
$danger-light-color:#f8d7da;

$white: #fff;
 