
// Body
$body-bg: #EEE9F0;

// Colors
$primary-color: #266989;
$primary-dark-color: #2669899e;
$success-light-color:  #d4edda;
$info-light-color: #cce5ff;
$warning-light-color: #fff3cd;
$danger-light-color:#f8d7da;

$color-primary: #1a1f26;
$color-secondary: #282f3a;

$color-white: #FFFFFF;
$color-gray-light: #CCCCCC;
$color-gray-medium: #555555;
$color-gray: #999999;
$color-gray-dark: #333333;
$color-black: #000000;

$color-green: #36BA9B;
$color-blue: #39AED9;
$color-yellow: #F5B946;
$color-red: #D94352;
 