* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: geometricPrecision;
}

img {
  max-width: 100%;
}

img a {
  border: none;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #EEE9F0;
}

.success {
  background-color: #d4edda;
}

.info {
  background-color: #cce5ff;
}

.warning {
  background-color: #fff3cd;
}

.danger {
  background-color: #f8d7da;
}

.button {
  width: 100%;
  height: 40px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #266989;
  border-radius: 10px;
  border: 0;
  letter-spacing: 1px;
  padding: 14px;
}

.menu {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  border-bottom: 5px solid #266989;
}

.menu .logo {
  color: #FFFFFF;
}

.menu .logo h1 {
  color: #2669899e;
}

.menu .logo span {
  color: #266989;
  font-size: 20px;
}

.menu .navigation ul {
  padding: 0px;
  margin: 0px;
}

.container {
  padding: 20px;
  margin-bottom: 10px;
}

.container .highlights {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.container .highlights .highlights-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.container .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.container .boxes .box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  height: 150px;
}

.container .boxes .box .title {
  font-size: 30px;
  border-bottom: 3px solid #266989;
}

.container .boxes .box .count {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 100%;
  font-size: 35px;
}

.container .informations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.container .informations .card .content-img {
  width: 100%;
  height: 283px;
}

.container .informations .card .content-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100px;
}

